@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --color-primario: #DFE0E8;
    --color-secundario: #0A3871;
    --color-terciario: #FFFFFF; 
    --color-cuaternario: #000000; 
    --color-quinario:#343A40;
    ;
}

*{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

body{
    background-color: var(--color-primario);
    box-sizing: border-box;
}

.header{
    padding: 2% 3%;
}

.header-imagen{
    width: 6%;
}

.contenido{
    display: flex;
    padding: 0% 10%;
}

.text-area{
    resize: none;
    font-weight: 400;
    border: none;
    color: var(--color-secundario);
    background-color: var(--color-primario);
    font-size: 2rem;
    outline: none;
    
}

.text-area::placeholder{
    color: var(--color-secundario);
    font-weight: 400;
    font-size: 2rem;
}

.contenido-informacion{
    font-size: 1rem;
    color: var(--color-cuaternario);
    margin: 2%;
}

.contenido-botones{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.boton-encriptar{
    background-color: var(--color-secundario);
    border-radius: 1.5rem;
    color: var(--color-terciario);
    width: 200px;
    height: 40px;
    cursor: pointer;
    border: 1px solid var(--color-secundario);
    font-weight: 400;
    font-size: 1rem;
}

.boton-encriptar:hover{
    background-color: var(--color-quinario);
    color: var(--color-terciario);
    border-color: var(--color-terciario);
}

.boton-Desencriptar{
    background-color: var(--color-terciario);
    border-radius: 1.5rem;
    color: var(--color-secundario);
    width: 200px;
    height: 40px;
    cursor: pointer;
    border: 1px solid var(--color-secundario);
    font-weight: 400;
    font-size: 1rem;

}

.boton-Desencriptar:hover{
    background-color: var(--color-quinario);
    color: var(--color-terciario);
    border-color: var(--color-terciario);
}

.contenido-mensaje{
    background-color: var(--color-terciario);;
    margin: 0% 7%;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.mensaje{
    resize: none;
    border: none;
    border-radius: 5px;
    color: var(--color-secundario);
    font-weight: 400;
    font-size: 2rem;
    background-image: url("../assets/Muneco.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    width: 60% 90%;
    margin-top: 3%;
    outline: none;
}

.contenido-parrafo-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenido-parrafo{
    color: var(--color-cuaternario);
    font-weight: 700;
    font-size: 1.5rem;

}

.contenido-parrafo-2{
    color: var(--color-cuaternario);
    font-weight: 400;
    font-size: 1rem;
}

.copiar{
    background-color: var(--color-terciario);
    border-radius: 1.5rem;
    color: var(--color-secundario);
    width: 200px;
    height: 40px;
    cursor: pointer;
    border: 1px solid var(--color-secundario);
    font-weight: 400;
    font-size: 1rem;
    margin-top: 7%;
    margin-bottom: 7%;
    display: none;
    justify-content: center;
    align-items: center;

}

.copiar:hover{
    background-color: var(--color-cuaternario);
    color: var(--color-terciario);
    border-color: var(--color-terciario);
}

.footer{
    padding: 4px;
    margin-top: 50px;
    color: var(--color-secundario);;
    text-align: center;
    font-weight: 700;
}

@media (max-width: 1000px){

    .contenido{
        flex-direction: column;
        padding: 0% 1%;
        justify-content: center;
    }
    
    .contenido-encriptar{
        margin: 0% 5%;
        width: auto;
    }

    .text-area{
        width: 100%;

    }

    .contenido-botones{
        align-items: center;
    }

    .contenido-mensaje{
        margin: 2% 5%;
        width: auto;
        flex-direction: column-reverse;
    }

    .mensaje{
        width: 100%;
    }

    .contenido-parrafo-div{
        margin-top: 2%;
    
    }

}

@media (max-width: 400px){
    .contenido-botones{
        align-items: center;
        flex-direction: column;
    }

    .mensaje{
        background-image: none;
    }

    .contenido-parrafo-div{
        width: auto;
        justify-content: center;
        align-items: center;
    
    }

    .contenido-parrafo{
        text-align: center;
    }

    .contenido-parrafo-2{
        text-align: center;
    }
    

}